<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Telangana Covid E-Portal</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="/static/design.css">
</head>
<body style="background-color: powderblue;">
       <img src="/static/logo.jpg"><br>
    <h1> E-Ticket Status </h1><br>
       <div class="w3-container w3-teal">
       <h3> Name: {{var}} </h3>
 <h3> Aadhar Number: {{var1}} </h3>
 <h3> Travelling From: {{var3}}, District: {{var4}} </h3>
 <h3> Travelling To: {{var5}}, District: {{var6}} </h3>
 <h3> Phone Number: {{var7}} </h3>
 <h3> Date of Travel: {{var8}} </h3>
<h3>Status: {{var9}}</h3>
       </div>
</body>
</html>